{
  "extends": ["bi-ts-be"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-throw-literal": "off"
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "ignorePatterns": [
    "**/dist/",
    "**/*.d.ts",
    "test/**"
  ]
}
